<ion-view view-title="Oneway">
    <ion-header-bar class="bar-positive">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Oneway</h1>
        <button class="button button-icon button-clear ion-ios-more" menu-toggle="right"></button>
    </ion-header-bar>
    <ion-content>
        <h1>Home Page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In deleniti placeat dolorum doloribus harum dolorem rem voluptatibus quis laborum consequuntur, assumenda quia libero repudiandae fugiat magni, iure eius tempora incidunt!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In deleniti placeat dolorum doloribus harum dolorem rem voluptatibus quis laborum consequuntur, assumenda quia libero repudiandae fugiat magni, iure eius tempora incidunt!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In deleniti placeat dolorum doloribus harum dolorem rem voluptatibus quis laborum consequuntur, assumenda quia libero repudiandae fugiat magni, iure eius tempora incidunt!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In deleniti placeat dolorum doloribus harum dolorem rem voluptatibus quis laborum consequuntur, assumenda quia libero repudiandae fugiat magni, iure eius tempora incidunt!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In deleniti placeat dolorum doloribus harum dolorem rem voluptatibus quis laborum consequuntur, assumenda quia libero repudiandae fugiat magni, iure eius tempora incidunt!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In deleniti placeat dolorum doloribus harum dolorem rem voluptatibus quis laborum consequuntur, assumenda quia libero repudiandae fugiat magni, iure eius tempora incidunt!</p>
    </ion-content>
</ion-view>