<ion-view view-title="Trang chủ">
    <ion-header-bar class="bar-light" style="background:none;border-bottom:none;">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
<!--        <h1 class="title">Trang chủ</h1>-->
<!--        <button class="button button-icon button-clear ion-ios-more" menu-toggle="right"></button>-->
    </ion-header-bar>
    <ion-content class="has-header">       
        <div class="grid-row">
                       
            <div class="col-xs-12 col-sm-1 col-md-2 col-lg-2"></div>
            
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
               
                <!-- Welcome -->                
                <div class="list card" style="box-shadow:none;">
                    <div class="item item-text-wrap" id="home_logoblock">
                        <h1>
                            <img src="img/logoc.png" alt="">
                        </h1>
                        <p>Phát thanh Cơ Đốc trực tuyến 24/7</p>
                    </div>

<!--
                    <div class="item tabs tabs-secondary tabs-stable" style="border-radius:10px;border:none;">
                        <a class="tab-item balanced" href="#/app/audio">
                            ONEWAY RADIO
                        </a>
                        <a class="tab-item" href="#/app/news">
                            Tin tức
                        </a>
                    </div>                    
-->
                    
                    <a class="button button-balanced button-block" href="#/app/audio">ONEWAY RADIO</a>
                    <a class="button button-stable button-block" href="#/app/news">Tin tức</a>
                </div>
                
                
                                
            </div>
            
            <div class="col-xs-12 col-sm-1 col-md-2 col-lg-2"></div>
        </div>
        
    </ion-content>
</ion-view>