<ion-view title="Search">
    <ion-header-bar class="bar-balanced item-input-inset">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">&nbsp;</button>
        <label class="item-input-wrapper" style="border-radius: 100px;">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Tìm kiếm ..." ng-model="searchString" ng-change="doSearching()" autofocus>
        </label>
        <button class="button button-clear" ng-click="searchString=''">Xóa</button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item collection-repeat="item in searchResult">
            {{item}}
            </ion-item>
        </ion-list>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, omnis voluptatibus tempora repellendus numquam ratione fugiat dignissimos. Ut magni amet dicta velit harum necessitatibus culpa, est non! Eveniet accusantium, delectus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, omnis voluptatibus tempora repellendus numquam ratione fugiat dignissimos. Ut magni amet dicta velit harum necessitatibus culpa, est non! Eveniet accusantium, delectus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, omnis voluptatibus tempora repellendus numquam ratione fugiat dignissimos. Ut magni amet dicta velit harum necessitatibus culpa, est non! Eveniet accusantium, delectus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, omnis voluptatibus tempora repellendus numquam ratione fugiat dignissimos. Ut magni amet dicta velit harum necessitatibus culpa, est non! Eveniet accusantium, delectus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, omnis voluptatibus tempora repellendus numquam ratione fugiat dignissimos. Ut magni amet dicta velit harum necessitatibus culpa, est non! Eveniet accusantium, delectus.</p>
    </ion-content>
</ion-view>