<div id="search_content">
    <ion-header-bar class="bar-stable item-input-inset">
       
       <button class="button button-icon ion-ios-close-empty button-stable" ng-click="search.audioSearchString='';search.loading=false" id="search_reset_button" ng-style="{'opacity': search.audioSearchString!=''?1:0}"></button>
       
        <label class="item-input-wrapper" style="border-radius: 100px;">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Từ khóa không dấu ..." ng-model="search.audioSearchString" ng-change="search.searchInputChange(search.audioSearchString)" />
        </label>
        
        
        
        <button class="button button-icon button-clear" ng-click="search.closeSearchPanel()">Xong</button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item style="text-align:center;border:none;" ng-show="search.loading">
                <ion-spinner></ion-spinner>
            </ion-item>
            <ion-item class="item item-thumbnail-left wrap_title" ng-repeat="item in search.searchResult" ng-click="search.view(item.id)">
                <img ng-src="{{item.thumbnail}}">
                <h2>{{item.title | clipText}}</h2>
                <p>{{item.date | toDate}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</div>