<ion-view view-title="Setting">
    <ion-header-bar class="bar-balanced">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button> 
        <h1 class="title">Thiết lập</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <!-- SETTING -->
            <ion-item class="item-divider">Khác</ion-item>    
            <ion-item ng-click="settings.openWelcomeModal()">
                Cửa sổ Chào mừng!
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>