<ion-view view-title="Trang chủ">
    <ion-header-bar class="bar-balanced">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Trang chủ</h1>
        <button class="button button-icon button-clear ion-ios-more" menu-toggle="right"></button>
    </ion-header-bar>
    <ion-content>       
        <div class="grid-row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <!-- Welcome -->
                <div class="card" id="home_logoblock">
                    <img src="img/logoc.png" alt="">
                    <p>Phát thanh Cơ Đốc trực tuyến 24/7</p>
                </div>
                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">                
                
                <!-- ONEWAY RADIO -->
                <div class="card">
                    <a class="item item-text-wrap home_colorblock item-positive" href="#/app/audio">
                        <h1>Radio &mdash; Audio</h1>
                    </a>

                    <div class="item item-text-wrap">
                        <p>Oneway Radio &mdash; Radio Cơ Đốc trực tuyến 24/7 dành cho người Việt.</p>
                    </div>
                    
                    <div class="item tabs tabs-secondary">
                        <a class="tab-item assertive" href="#">
                            RADIO ONLINE
                        </a>
                        <a class="tab-item" href="#">
                            NGHE LẠI
                        </a>
                    </div>
                    
                </div>
                
            </div>                
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                
                <!-- ONEWAY NEWS -->
                <div class="card">

                    <a class="item item-text-wrap home_colorblock item-assertive" href="#/app/news">                    
                        <h1>Tin tức</h1>
                    </a>

                    <div class="item item-text-wrap">
                        <p>Oneway Radio &mdash; Radio Cơ Đốc trực tuyến 24/7 dành cho người Việt.</p>
                    </div>

                    <div class="item tabs tabs-secondary">
                        <a class="tab-item assertive" href="#">
                            ĐỌC TIN TỨC
                        </a>
                    </div>

                </div>
                
            </div>
        </div>
        <div class="grid-row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 80px"></div>
        </div>
    </ion-content>
</ion-view>