<ion-view view-title="Setting">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Setting</h1>
        <a class="button button-icon button-clear ion-home" href="#/app/home"></a>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <!-- SETTING -->
            <ion-item class="item-divider">Khác</ion-item>    
            <ion-item ng-click="openWelcomeModal()">
                Cửa sổ Chào mừng!
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>